body {
    background-color: #00000d;
}
nav {
    font-size: 2rem;
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1rem;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav li {
    display: inline-block;
    margin-right: 1.5rem;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: lightgray;
}
h1 {
    color: white;
}
main {
    padding-left: 2rem;
    color: white;
    padding-right: 2rem;
}
main table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.3rem;
    border: 2px solid gray;
}
th, td {
    padding: 1rem;
    text-align: left;
    border: 1px solid black;
}
tr {
    background-color: #212121;
}